.product-table-image {
  cursor: pointer;
  height: 200px;
  object-fit: contain;
  align-self: center;
}

.card-body {
  cursor: pointer;
}

.card-body:hover {
  cursor: pointer;
  color:#888888;
}

.modal-content .product-table-image {
  height: 300px;
  object-fit: contain;
  align-self: center;
}

.modal-content .add-to-cart-button {
  width: 100%;
}

p.description {
  font-size: smaller;
}

span.price {
  font-size: xx-large;
}

span.decimals {
  font-size: small;
  vertical-align: super;
}

p.category {
  font-size: x-small;
}

.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #888888;
  font-size: 25px;
  height: 25px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.rating-upper {
  color: #f3d809;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}

p.rating-text {
  font-size: x-small;
}